menu "App Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

	menu "TASK Configuration"
		config UART_TX_TASK_PRIORITY
		    int "UART TX Task priority"
			range 0 20
		    default 1
	endmenu
	
	menu "UART Configuration"
		config UART_BAUD_RATE
			int "UART communication speed"
			range 1200 115200
			default 115200
			help
			    UART communication speed.
		
		config UART1_RX_PORT
		    int "UART1 RX port"
		    range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
		    default 37

		config UART1_TX_PORT
		    int "UART1 TX port"
		    range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
		    default 38

		config UART2_RX_PORT
		    int "UART2 RX port"
		    range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
		    default 47

		config UART2_TX_PORT
		    int "UART2 TX port"
		    range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
		    default 48
		
		config UART_RX_BUFFER_SIZE
			int "UART RX buffer size"
			range 256 2048
			default 256
			
		config UART_TX_BUFFER_SIZE
			int "UART TX buffer size"
			range 256 2048
			default 256
	endmenu
	
endmenu
